@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    font-weight: 100;
    background-color: #f5fafc;
}
header{
    display: flex;
    position: fixed;
    height: auto;
    width: 100%;
    padding: 12px 0;
    background: #f5fafc;
    border:1px solid #d6e3e7;
    z-index: 3; 
}
nav{
    display: flex;
    align-items: center;
    padding: 0 10px;
    white-space: nowrap;
}
.logo-container a{
    font-size: 1.3em;
    font-weight: 600;
    padding-left: 55px;
    letter-spacing: 3px;
    white-space: nowrap;
    text-decoration: none;
    color:#000000;
}
.links-container{
    margin-left: 150px;
}
.links-container ul{
    list-style: none;
    display: flex; 
    gap: 40px; 
}
.links-container a{
    text-decoration: none;
    color: black;
    letter-spacing: 3px;
    font-size: 0.8em;
    font-weight: 400;
}
.links-container a:hover{
    color: #627481;
}
.links-container a.active{
    color: #627481;
}
.menu-btn{
    display: none;
}
.sidebar{
    display: none;
}
.contactbttn a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    margin-left: 180px;
    border-radius: 20px;
    border: 1px solid rgba(198, 200, 201, 0.651);
    background: #f5fafc;
    color:#000000;
    font-weight: 400;
    width:100%;
    max-width: 120px;
    height: auto;
    padding: 15px 0;
    letter-spacing: 3px;
    font-size: 0.6em;
    cursor: pointer;
    z-index: 1;
    transition: color 0.3s ease;  
}
.contactbttn a::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -120%;
    width: 100%;
    height: 120%;
    border-radius: 50% 50% 0 0;
    background: black;
    transition: bottom 0.5s ease-in-out;
    z-index: -1;
}
.contactbttn a:hover{
    color: #fff;
}
.contactbttn a:hover::before{
    bottom: 0;
}
.contactbttn a.active{
    background: black;
    color: white;
}
.contactbttn a.remove-active::before{
    bottom: 120%;
}
main{
    padding-top: 65px;
}
#home{
    max-width: 100%;
    height: 100vh;
    overflow: clip;
    position: relative;
}
.home-wrapper {
    display: grid;
    grid-template-columns: 350px 1fr;
    height: 100%;
}
.content-container{
    width: 100%;
    max-width: 900px;
    margin: 150px 0 auto;
    text-align: center;
}
.content-container h3{
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: 1px;
}
.content-container h2{
    font-size: 2.4em;
    font-weight: 600;
    letter-spacing: 1px;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    z-index: 2;
    padding: 10px;
}
.image-container{
    display: flex;
    justify-items: center;
    align-items: center;
    position: relative;
    border: 1px solid #d6e3e7;
    border-radius: 20em;
    width: 100%;
    max-width: 517px;
    height: auto;
    margin: 120px auto;
}
.image-subcontainer{   
    border: 1px solid #d6e3e700;
    border-radius: 20em;
    width: 100%;
    max-width: 487px;
    height: auto;
    margin: 10px auto;
}
.image-container img{
    border-radius: 20em;
    width: 100%;
    max-width: 487px;
    height: auto;
}
.subcontent-container{
    position: sticky;
    top: 500px; 
    height: fit-content;
    padding-left: 70px;
    text-align: left;
}
.scroll-area {
    height: 100%;
    overflow-y: auto;    
    margin-left: 0;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(-175px);
}
.scroll-area::-webkit-scrollbar{
    display: none;
}
.subcontent-container h2{
    font-size: 1.3em;
    letter-spacing: 2px;
    line-height: 2em;
}
.subcontent-container h3{
    font-size: 0.8em;
    font-weight: 100;
    letter-spacing: 2px;
    line-height: 1.5em;
}
.resume-container{
    position: absolute;
    top: 150px;        
    right: -55px;        
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5fafc;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    
}
.resume-wrapper{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 1px solid #d6e1e5;
    background-color: #f5fafc;
    color:#000000;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    font-size: 0.7em;
    font-weight: 400;
    letter-spacing: 3px;
    position: relative;
    z-index: 1;
    transition: color 0.3s ease;  
}
.resume-wrapper::before{
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    transform: scale(0);  
    transform-origin: center;
    transition: transform 0.5s ease-in-out;
    background-color: #000000; 
    z-index: -1;
}
.resume-wrapper:hover{
    color: white;
    transform: scale(1.05);
}
.resume-wrapper:hover::before{
    transform: scale(1); 
}
.carousel-container{
    max-width: 100%;
    overflow: hidden;
    transform: rotate(-3deg);
    border-top: 1px solid #d6e1e5;
    border-bottom: 1px solid #d6e1e5;
}
.carousel-subcontainer{
    display: flex;
    animation: scroll-carousel 6s linear infinite;
}
.carousel-slide{
    flex-shrink: 0;
    width: 25%; 
    white-space: nowrap;
    padding: 12px 160px;
    font-size: 0.8em;
    letter-spacing: 3px;
    
}
@keyframes scroll-carousel {
    0%{
        transform: translateX(-50%);
    }
    100%{
        transform: translateX(0);
    }
}
#about{
    max-width: 100%;
    height: auto;
    padding: 70px 0;
}
.about-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 200px;
    padding: 0 80px;
}
.profile-container{
    display: flex;
    justify-items: center;
    align-items: center;
    border: 1px solid #d6e3e7;
    border-radius: 50%;
    width: 100%;
    max-width: 570px;
    height: auto;
    padding: 0 20px;
}
.profile-subcontainer{
    border: 1px solid rgba(0, 195, 255, 0);
    border-radius: 50%;
    width: 100%;
    max-width: 540px;
    height: auto;
    margin: 15px auto;
}
.profile-subcontainer img{
    border-radius: 50%;
    width: 100%;
    max-width: 540px;
    height: 33em;
    object-fit: cover;
}
.profile-container,
.aboutme{
    flex: 1; 
}
.aboutme{
    margin-top: 50px;
    padding-left: 100px;
}
.aboutme h1{
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 5px;
    color: #627481;
}
.aboutme h2{
    margin-top: 10px;
    font-size: 40px;
    letter-spacing: 5px;
}
.aboutme p{
    margin-top: 20px;
    font-size: 1.1em;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 26px;
    color: #627481;
    
}
.aboutbttn{
    margin-top: 10px;
    height: 45px;
    border-radius: 40px;
    border: 1px solid #d6e1e5;
    background: #f5fafc;
    width: 200px;
    letter-spacing: 3px;
    font-size: 0.59em;
    position: relative;
    overflow: hidden;
    transition: color 1s ease;
    z-index: 1;
}
.aboutbttn::before{
    content: "";
    position: absolute;
    left: -10%;
    bottom: -220%; 
    width: 120%;
    height: 220%;   
    background-color: #000000;
    border-radius: 50% 50% 0 0;
    transition: bottom 1s cubic-bezier(.22,1,.36,1);
    z-index: -1;
}
.aboutbttn:hover{
    color: white;
}
.aboutbttn:hover::before{
    bottom: -10%;
}
#experience{
    max-width: 100%;
    margin-top: 150px;
    margin-bottom: 150px;
}
#experience h2{
    text-align: center;
    font-size: 40px;
    letter-spacing: 3px;
    line-height: 70px;
}
#experience h3{
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 30px;
    color: #627481;
    padding: 0 20px; 
}
.experience-subcontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px 80px;
}
.experience-image{
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 180px;
    border: 1px solid #d6e1e5;
    border-radius: 20em;
    width: 370px;
    height: 54em;
}
.experience-image2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    border: 1px solid #d6e1e5;
    border-radius: 20em;
    width: 370px;
    height: 60em;
}
.experience-image3{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 180px;
    border: 1px solid #d6e1e5;
    border-radius: 20em;
    width: 370px;
    height: 54em;
}
.experience-image img, .experience-image3 img{
    border: 1px solid transparent;
    border-top-right-radius: 20em;
    border-top-left-radius: 20em;
    width: 350px;
    height: 35%;
    padding: 10px;
    object-fit: cover;
}
.experience-image2 img{
    border: 1px solid transparent;
    border-top-right-radius: 20em;
    border-top-left-radius: 20em;
    width: 350px;
    height: 40%;
    padding: 10px;
    object-fit: cover;
}
.icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid transparent;
    background-color: #f5fafc;
    width: 130px;
    height: 130px;
    margin-top: -70px;
}
.icon-wrapper i{
    font-size: 25px;
    font-weight: 100;
    color: #000000;
}
.context{
    margin-top: 10px;
    color: black;
    font-size: 1.6em;
    font-weight: 500;
    letter-spacing: 3px;
    text-align: center;
    padding: 0 20px;
}
.subcontext{
    margin-top: 10px;
    color: #627481;
    font-size: 0.95em;
    letter-spacing: 3px;
    font-weight: 400;
    text-align: center;
}
.experience-image ul, .experience-image2 ul, .experience-image3 ul{
    text-align: left;
    padding: 20px 60px;
    letter-spacing: 2px;
    line-height: 25px;
}
#project{
    max-width:100%;
    margin-top: 100px;
    margin-bottom: 100px;
}
#project h2{
    text-align: center;
    font-size: 40px;
    letter-spacing: 3px;
    line-height: 70px;
}
#project h3{
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 30px;
    color: #627481;
    padding: 0 20px; 
}
.showcase{
    margin: 30px;
    display: flex;
    gap: 0px 20px;
    justify-content: center;
}
.showcase button{
    border-radius: 20px;
    border: 1px solid rgba(198, 200, 201, 0.651);
    background: #f5fafc;
    width: 100px;
    height: 35px;
    letter-spacing: 4px;
    font-size: 0.6em;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: color 2s ease;
    z-index: 1;
}
.showcase button::before{
    content: "";
    position: absolute;
    left: -10%;
    bottom: -220%; 
    width: 120%;
    height: 220%;   
    background-color: #000000;
    border-radius: 50% 50% 0 0;
    transition: bottom 1s cubic-bezier(.22,1,.36,1);
    z-index: -1;
}
.showcase button:hover{
    color: white;
}
.showcase button:hover::before{
    bottom: -10%;
}
.showcase button.active{
    color: white;
    background: black;
}
.gallery-container{
    display: block;
}
.gallery-container.hide{
    display: none;
}
.filter-gallery{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px 30px;
    padding: 50px 50px;
}
.gallery-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 1px solid #d6e1e5;
    width: 270px;
    height: 320px;
}
.gallery-container img{
    object-fit: fill; 
    border-radius: 20px;
    width: 250px;
    height: 300px;
    padding: 5px;
}
#contact{
    max-width:100%;
    margin-top: 100px;
}
.contact-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 100px;
    padding: 50px;
}
.contact-subcontainer{
    padding: 20px 20px;
}
.contact-content h3{
    font-size: 0.7em;
    font-weight: 400;
    letter-spacing: 3px;
    color: #627481;
    line-height: 45px;
}
.contact-content h2{
    font-size: 2.4em;
    letter-spacing: 3px;
    line-height: 40px;
    font-weight: 600;
}
.contact-content p{
    color:#627481;
    letter-spacing: 2px;
    font-size: 17.5px;
    line-height: 25px;
    font-weight: 400;
}
.contact-information h2{
    margin-top: 20px;
    font-size: 23px; 
    font-weight: 500;
    letter-spacing: 2px;
}
.contact-information h3{
    font-size: 1em;
    font-weight: 200;
    letter-spacing: 2px;
    line-height: 25px;
    color:#627481;
    font-weight: 400;
}
.contact-profile{
    margin-top: 20px;
}
.contact-profile img{
    width: 100%;
    max-width: 650px;
    height: auto;
    display: block;        
    object-fit: cover;
}

/*______TABLET______*/
@media (max-width: 1024px){
/*------HEADER------*/
    .links-container{
        margin-left: 50px;
    }
    .contactbttn a{
        margin-left: 50px;
    }
/*------HOME------*/
    .resume-container{
        margin-left: 670px;   
    }
/*------ABOUT------*/
    .about-container{
        flex-direction: column;
    }
    .profile-container{
        padding: 0;
    }
    .aboutme{
        padding: 0;
        text-align: center;
    }
    .aboutme h2{
        max-width: 750px;
        margin: 10px auto;  
    }
    .aboutp{
        text-align: justify;
    }

/*------EXPERIENCE------*/
    .experience-image3{
        margin-top: 20px;
    }
    /*------CONTACT------*/
    .contact-container{
        flex-wrap: wrap;
    }
}


/*______Mobile______*/
@media (max-width: 480px) {
    /*------SIDEBAR------*/ 
    .links-container, .contactbttn{
        display: none;
    }
    .close-btn{
        background: none;
        border: none;
        font-size: 1em;
        color: rgb(255, 255, 255);
    }
    .menu-btn{
        display: block;
        font-size: 1.3em;
        margin-left: 30px;
    }
    .sidebar {
        display: block;
        position: fixed;
        top: 0;
        left: -520px;
        width: 50%;
        height: 100%;
        background: #000000;
        padding: 20px;
        transition: left 0.3s ease;
      }
      .sidebar ul{
        margin-top: 20px;
    }
      .sidebar a{
        display: flex;
        justify-content: center;
        padding: 20px 0;
        text-decoration: none;
        color: #ffffff;
        letter-spacing: 3px;
        font-weight: 100;
        font-size: 1em;
      }
      .sidebar a:hover{
        font-weight: 800;
        color: #627481;
      }
      .sidebar.active {
        left: 0;
      }

    /*------HOME------*/   
    .content-container h3{
        font-size: 1.3em;
    }
    .content-container h2{
        font-size: 2.1em;
    }
    .image-container{
        max-width: 250px;
        padding: 0 10px;
    }
    .resume-container{
        width: 120px;
        padding: 10px 0;
    }
    .resume-wrapper{
        width: 100px;
        height: 100px;
        font-size: 0.6em;
    }
    .subcontent-container{
        top: 800px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    /*------ABOUT------*/
    .profile-container{
        height: 20em;
        width: 16em;
        padding: 0 15px;
    }
    .profile-subcontainer{
        height: 16em;
        width: 15em;
    }
    .profile-subcontainer img{
        height: 100%;
        width: 100%;
    }
    .aboutme h2{
        font-size: 35px;
        padding: 5px;
    }
    .aboutme p{
        font-size: 1em;
        padding: 5px;
    }
    /*------EXPERIENCE------*/
    .experience-image{
        margin-top: 50px;
    }
    .experience-image3{
        margin-top: 50px;
    }
    /*------CONTACT------*/
     .contact-container{
            flex-wrap: wrap;
        }
}
